* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.842);
  color: black;
  overflow-x: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
  justify-content: center;
}

nav h1 {
  font-size: 32px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
}

nav ul li {
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
nav ul li:hover {
  color: rgb(97, 133, 131);
}

.navele {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

button {
  padding: 14px 18px;
  border-radius: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #414253;
  color:white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
}

button:hover{
    color:rgba(255, 255, 255, 0.774)
}

section{
    width: 100%;
    height: 100%;
    position: relative;
}

.logo
{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
   
}

.logo i {
    font-size: 30px;
    transform: rotate(35deg);
}

.center{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 40px;
}

.center-left{
  width:45%;
  max-height: 100%;

}
.center-right{
    position: relative;
    width: 55%;
    height: 100%;
    
}


.center-left h1{
    
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

.center-left p{
    margin-bottom: 20px;
    font-size: 12px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.center-left button{
    background-color: rgb(24, 23, 23);
}

img
{
    background: transparent;
}


.center-right img{
    position: absolute;
    top:0;
    right:0;
 height:30vw;
 /* padding: 50px 0; */


}


.section-brands
{
width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 120px;
    

  
   

}

.section-brands img{
  height: 70px;
}